.character-card {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Una sola columna que toma el ancho completo */
  gap: 20px; /* Espacio entre las filas */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.character-name {
  font-size: 24px; 
  margin-top: auto;
  margin-bottom: auto;
}

.character-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}

.grid-item {
  padding: 10px;
  display: flex;
  font-size: 16px;
}